<div class="wrapper">
  <div class="icon icon1">
    <div class="moon top"></div>
    <div class="planet">
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
      <div class="line line4"></div>
      <div class="line line5"></div>
      <div class="line line6"></div>
      <div class="line line7"></div>
    </div>
    <div class="moon bottom"></div>
  </div>
  <div class="icon icon2">
    <div class="planetoid"></div>
    <div class="planet"></div>
    <div class="ring"></div>
  </div>
  <div class="icon icon3">
    <div class="top">
      <div class="visor"></div>
      <div class="hood"></div>
    </div>
    <div class="bottom">
      <div class="neck"></div>
      <div class="line"></div>
    </div>
    <div class="middle"></div>
  </div>
  <div class="icon icon4">
    <div class="planet"></div>
    <div class="planetoid top"></div>
    <div class="planetoid middle"></div>
    <div class="planetoid bottom"></div>
  </div>
  <div class="icon icon5">
    <div class="planet"></div>
    <div class="rocket">
      <div class="body"></div>
      <div class="thruster left"></div>
      <div class="thruster mid"></div>
      <div class="thruster right"></div>
    </div>
    <div class="line left"></div>
    <div class="line mid"></div>
    <div class="line right"></div>
  </div>
  <div class="icon icon6">
    <div class="moon top"></div>
    <div class="planet"></div>
    <div class="ring"></div>
    <div class="ring planet"></div>
    <div class="planetoid"></div>
    <div class="moon bottom"></div>
  </div>
  <div class="icon icon7">
    <div class="telescope">
      <div class="body">
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
        <div class="line line4"></div>
      </div>
      <div class="lens"></div>
    </div>
    <div class="tripod">
      <div class="anchor"></div>
      <div class="foot left"></div>
      <div class="foot mid"></div>
      <div class="foot right"></div>
    </div>
    <div class="ground"></div>
  </div>
  <div class="icon icon8">
    <div class="moon top"></div>
    <div class="planet"></div>
    <div class="ring"></div>
    <div class="planetoid"></div>
    <div class="moon bottom"></div>
  </div>
  <div class="icon icon9">
    <div class="planetoid"></div>
    <div class="planetoid moon"></div>
    <div class="flag">
      <div class="square"></div>
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>
    <div class="pole"></div>
    <div class="ground"></div>
  </div>
  <div class="icon icon10">
    <div class="orbit orbit1"></div>
    <div class="orbit orbit2"></div>
    <div class="planet"></div>
  </div>
  <div class="icon icon11">
    <div class="planet">
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
      <div class="line line4"></div>
      <div class="line line5"></div>
      <div class="line line6"></div>
      <div class="line line7"></div>
      <div class="line line8"></div>
      <div class="line line9"></div>
    </div>
  </div>
  <div class="icon icon12">
    <div class="planet"></div>
    <div class="line line1"></div>
    <div class="line line2"></div>
    <div class="line line3"></div>
    <div class="line line4"></div>
    <div class="line line5"></div>
  </div>
  <div class="icon icon13">
    <div class="planet"></div>
    <div class="ring"></div>
    <div class="planetoid"></div>
    <div class="square"></div>
    <div class="moon bottom"></div>
  </div>
  <div class="icon icon14">
    <div class="planet"></div>
    <div class="ring"></div>
    <div class="moon"></div>
    <div class="top">
      <div class="line left"></div>
      <div class="square"></div>
      <div class="line right"></div>
    </div>
    <div class="pen">
      <div class="head left"></div>
      <div class="head right"></div>
      <div class="line"></div>
      <div class="bottom"></div>
    </div>
  </div>
  <div class="icon icon15">
    <div class="planetoid"></div>
    <div class="sattelite">
      <div class="solarpanel left"></div>
      <div class="body"></div>
      <div class="solarpanel right"></div>
      <div class="dish"></div>
    </div>
  </div>
</div>