
<body>

<!-- / My brand -->
<div class='brand'>
	<a href='https://www.jamiecoulter.co.uk' target='_blank'>
	  <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/logo.png'>
	</a>
  </div>
  <!-- / Begin Body -->
  <div class='swanky'>

	<!-- /////////// Begin Dropdown //////////// -->
	<div class='swanky_wrapper'>
	  <input id='Dashboard' name='checkbox' type='checkbox'>
	  <label for='Dashboard'>
		<img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/dash.png'>
		<span>Dashboard</span>
		<div class='lil_arrow'></div>
		<div class='bar'></div>
		<div class='swanky_wrapper__content'>
		  <ul>
			<li>Tools</li>
			<li>Reports</li>
			<li>Analytics</li>
			<li>Code Blocks</li>
		  </ul>
		</div>
	  </label>
	  <input id='Sales' name='checkbox' type='checkbox'>
	  <label for='Sales'>
		<img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/del.png'>
		<span>Sales</span>
		<div class='lil_arrow'></div>
		<div class='bar'></div>
		<div class='swanky_wrapper__content'>
		  <ul>
			<li>New Sales</li>
			<li>Expired Sales</li>
			<li>Sales Reports</li>
			<li>Deliveries</li>
		  </ul>
		</div>
	  </label>
	  <input id='Messages' name='checkbox' type='checkbox'>
	  <label for='Messages'>
		<img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/mess.png'>
		<span>Messages</span>
		<div class='lil_arrow'></div>
		<div class='bar'></div>
		<div class='swanky_wrapper__content'>
		  <ul>
			<li>Inbox</li>
			<li>Outbox</li>
			<li>Sent</li>
			<li>Archived</li>
		  </ul>
		</div>
	  </label>
	  <input id='Users' name='checkbox' type='checkbox'>
	  <label for='Users'>
		<img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/users.png'>
		<span>Users</span>
		<div class='lil_arrow'></div>
		<div class='bar'></div>
		<div class='swanky_wrapper__content'>
		  <ul>
			<li>New User</li>
			<li>User Groups</li>
			<li>Permissions</li>
			<li>Passwords</li>
		  </ul>
		</div>
	  </label>
	  
	</div>

  </div>
 
  
</body>
