<section class="animation-list">
  <h1>
    CSS Animations
  </h1>
  <ul>
    <li routerLink="list">
      Listing Data
    </li>
    <li routerLink="animatedIcon">
      Animated Icons
    </li>
    <li routerLink="pageNotFound">
      404 Page
    </li>
    <li routerLink="emailUnsubscription">
      Email Unsubscription
    </li>
    <li routerLink="hoverEffect">
      Hover Effects
    </li>
    <li routerLink="menuAnimation">
      Menu Animations
    </li>
    <li routerLink="validation">
      Validation Effects
    </li>
    <li routerLink="buttonAnimation">
      Button Click
    </li>
    <li routerLink="inputAnimation">
      Input field Validation
    </li>
  </ul>
</section>
