
<body>

  <!-- / My brand -->
  <div class='brand'>
    <a href='https://www.jamiecoulter.co.uk' target='_blank'>
      <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/logo.png'>
    </a>
    </div>
    <!-- / Begin Body -->
    <div class='swanky'>
    <!-- / Introduction Block -->
    <div class='swanky_title'>
  
      <div class='swanky_title__social'>
      <a href='https://www.twitter.com/jamiecoulter89' target='_blank'>
        <div class='slide'>
        <div class='arrow'>
          <div class='stem'></div>
          <div class='point'></div>
        </div>
        </div>
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tw.png'>
        Twitter
      </a>
      </div>
      <div class='swanky_title__social'>
      <a href='https://www.codepen.io/jcoulterdesign/' target='_blank'>
        <div class='slide'>
        <div class='arrow'>
          <div class='stem'></div>
          <div class='point'></div>
        </div>
        </div>
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/cp.png'>
        Codepen
      </a>
      </div>
    </div>
  
  
    </div>
   
    
  </body>
  